* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  line-height: 1.5;
  font-family: var(--font-main);
}

main {
  overflow: hidden;
}

/** Hero section **/

.hero {
  position: relative;
  margin: 20px;
  border-radius: 30px;
  overflow: hidden;
}

.hero_kort {
  width: 200px;
  height: auto;
  right: 20%;
}

.hero_section {
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  z-index: 0;
}

.hero_section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_indhold {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  gap: 12px;

  padding: 30px;
  color: white;
}

.hero_indhold h1 {
  margin-bottom: 20px;
  font-size: 20px;
  font-family: var(--font-main);
}

.hero_indhold h2 {
  font-size: 15px;
  font-family: var(--font-main);
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
    height: 70vh; /* eller 80vh / 100vh */
    margin: 20px;
    border-radius: 30px;
  }

  .hero_indhold {
    position: relative;
    z-index: 1;

    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 60px;
  }

  .hero_indhold img {
    position: absolute;
    width: 500px;
    right: 60px;
    bottom: 60px;
    width: 500px;
  }
}

/** Skrald section **/

.skrald {
  padding: 25px;
}

.skrald h1 {
  margin-bottom: 15px;
  margin-top: 40px;
}

.skrald img {
  display: block;
  width: 90%;
  margin: 20px auto;
  border-radius: 40px;
}

@media (min-width: 800px) {
  .skrald {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/** Card circle section **/

.card_circle {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: #ebebeb;
  border-radius: 30px;
  margin: 20px;
}

.card_circle h2 {
  margin-bottom: 15px;
}

.card_circle img {
  width: 200px;
  height: auto;
}

/** Globe section **/

.globe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.globe h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.globe h2 {
  font-weight: lighter;
}

.globe img {
  margin-top: 50px;
  width: 200px;
  height: auto;
}

.knap {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #97b7c2;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  .globe {
    flex-direction: row;
    text-align: left;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .globe_tekst {
    flex: 1;
  }

  .globe_billede {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .globe img {
    margin-top: 0;
    width: 300px;
  }
}

.tekst_section {
  padding: 100px;
}

/** Natur vide **/

.video_natur {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px;
}

.video_natur video {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 30px;
}

.video_natur h1 {
  position: absolute;
  top: 50%; /* centrerer vertikalt */
  left: 50%; /* centrerer horisontalt */
  transform: translate(-50%, -50%);
  color: white;
  font-size: 2em;
  text-align: center;
  padding: 0 20px; /* lidt luft til kanterne */
}

.howto_section video {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 30px;
  margin: 30px;
}

.howto {
  padding: 40px;
  background-color: #ebebeb;
  margin: 40px;
  border-radius: 30px;
}

.howto h2 {
  margin-bottom: 20px;
}
