* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Generelt **/

p {
  line-height: 1.5;
  font-family: var(--font-main);
}

.forside_main {
  font-family: var(--font-main);
}

/** Hero section mobile **/

.hero {
  position: relative;
  margin: 20px;
  border-radius: 30px;
  overflow: hidden;
}

.hero_section {
  position: absolute;
  border-radius: 30px;
  overflow: hidden;
  z-index: 0;
  inset: 0;
}

.hero_section video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero_indhold {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 30px;
  color: white;
}

.hero_indhold img {
  width: 100%;
  max-width: 250px;
  height: auto;
  display: block;
}

.hero_indhold h1 {
  margin-bottom: 20px;
  margin-top: 15px;
  font-size: 20px;
  font-family: var(--font-main);
}

.hero_indhold h2 {
  font-size: 15px;
  font-family: var(--font-main);
}

.hero_indhold a {
  width: fit-content;
}

/** Hero section desktop **/

@media (min-width: 1024px) {
  .hero {
    position: relative;
    height: 70vh;
    margin: 20px;
    border-radius: 30px;
  }

  .hero_indhold {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 60px;
  }

  .hero_indhold h1 {
    font-size: 60px;
  }

  .hero_indhold h2 {
    font-size: 20px;
  }

  .hero_indhold img {
    position: absolute;
    right: 80px;
    bottom: 80px;
    width: 600px; /* 👈 gør kortet større */
    max-width: none;
  }
}

/** Skrald section **/

.skrald {
  padding: 40px;
  margin-bottom: 60px;
}
.skrald h1 {
  margin-bottom: 20px;
  margin-top: 40px;
}

.skrald img {
  display: block;
  width: 90%;
  margin: 20px auto;
  border-radius: 40px;
  margin-top: 20px;
}

.skrald_tekst {
  margin: 40px;
  text-align: center;
  margin-bottom: 80px;
}

/** Skrald section desktop **/

@media (min-width: 800px) {
  .skrald {
    display: flex;
    align-items: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
  }
}

/** Card circle section **/

.card_circle {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 40px;
  background-color: #ebebeb;
  border-radius: 30px;
  margin: 20px;
}

.card_circle h2 {
  margin-bottom: 15px;
}

.card_circle img {
  width: 200px;
  height: auto;
}

@media (min-width: 800px) {
  .card_circle img {
    width: 800px;
  }
}

/** Globe section **/

.globe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.globe h1 {
  margin-bottom: 30px;
  margin-top: 30px;
}

.globe h2 {
  font-weight: lighter;
}

.globe img {
  margin-top: 50px;
  width: 300px;
  height: auto;
}

.knap {
  display: inline-block;
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #97b7c2;
  color: #ffffff;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
}

@media (min-width: 768px) {
  .globe {
    flex-direction: row;
    text-align: left;
    gap: 60px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .globe_tekst {
    flex: 1;
  }

  .globe_billede {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .globe img {
    margin-top: 0;
    width: 300px;
  }
}

/** Tekst **/

.tekst_section {
  text-align: center;
  padding: 150px;
}

@media (min-width: 768px) {
  .tekst_section {
    font-size: 30px;
    padding: 250px;
  }
}

/** How to **/

.howto_section video {
  width: 500px;
  height: auto;
  display: block;
  border-radius: 30px;
  margin: 30px;
}

.howto {
  padding: 60px;
  background-color: #ebebeb;
  margin: 40px;
  border-radius: 30px;
}

.howto h2 {
  margin-bottom: 20px;
}

.howto p {
  line-height: 3.5;
}

@media (min-width: 768px) {
  .howto_section {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 40px;
    padding: 40px;
  }

  .howto {
    flex: 1; /* fylder tilgængelig plads */
    border-radius: 30px;
    font-size: 25px;
    padding: 40px;
    display: flex;
    flex-direction: column; /* for at holde tekst og knap lodret */
    justify-content: center; /* centrerer indhold lodret */
  }

  .howto_section video {
    flex: 1; /* tager tilgængelig plads */
    order: 2; /* sørger for, at den vises til højre */
    width: 100%; /* fylder flexbox */
    max-width: 500px; /* maks bredde */
  }

  .howto .knap {
    width: auto; /* vigtig, så den ikke strækkes */
    align-self: flex-start; /* placer knappen til venstre */
  }
}

/** Natur video **/

.video_natur {
  position: relative;
  width: 90%;
  max-width: 1800px;
  height: 400px;
  margin: 20px auto;
  border-radius: 30px;
  overflow: hidden;
}

.video_natur video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.video_natur h1 {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 50px;
  text-align: center;
  padding: 20px;
}

@media (max-width: 800px) {
  .video_natur {
    height: 220px;
  }

  .video_natur h1 {
    font-size: 20px;
  }
}
