.om_side h2,
h3,
h4,
h5 {
  font-family: var(--font-main);
  font-weight: 800;
}
.om_side p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
}

.om_hero {
  position: relative;
  margin: 1rem;
  height: 40vh;
  border-radius: 40px;
  overflow: hidden;
  object-fit: cover;
}
.om_herotekst {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  z-index: 2;
  max-width: 70%;
}
.om_herotekst h1 {
  font-size: 28px;
}
.om_herotekst p {
  font-family: var(--font-main);
  font-weight: var(--font-regular);
  font-size: 26px;
}
.om_om,
h2,
h5 {
  font-size: 24px;
  margin-top: 2.5rem;
  margin-left: 3rem;
}

.om_om p {
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  line-height: 150%;
  font-family: var(--font-main);
  font-weight: var(--font-regular);
  font-size: 20px;
  margin-left: 3rem;
  max-width: 80%;
}

.om_collage {
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 0.5rem;
}

.om_boks1,
.om_boks2 {
  background-color: var(--lysgrå);
  border-radius: 40px;
  padding: 2rem;
  margin-left: 4rem;
  margin-right: 4rem;
  height: 40vh;
  max-width: 90%;
}

.om_boks1 p,
.om_boks2 p {
  font-size: 18px;
  line-height: 145%;
}

.om_boks1 h3,
.om_boks2 h4 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.om_1_1 {
  display: flex;
  gap: 0.2rem;
}

.om_1_1 img {
  flex: 1;
  aspect-ratio: 1/1;
  height: 40vh;
  border-radius: 40px;
  object-fit: cover;
}

.om_video {
  position: relative;
  margin: 1rem;
  height: 30vh;
  border-radius: 40px;
  overflow: hidden;
}

.om_video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.om_videotekst {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}
.om_videotekst p {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .om_hero {
    margin: 2rem;
    height: 85vh;
  }
  .om_herotekst {
    top: 3rem;
    left: 3rem;
    max-width: 40%;
  }

  .om_herotekst h1 {
    font-size: 48px;
  }
  .om_herotekst p {
    font-size: 48px;
  }

  .om_om {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.6rem;
    padding-bottom: 2rem;
    gap: 2rem;
    background-color: var(--blå);
    border-radius: 40px;
    height: 60vh;
    margin-left: 13.5rem;
    margin-right: 13.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .om_om,
  h2,
  h5 {
    font-size: 28px;
  }
  .om_om p {
    font-size: 22px;
  }
  .om_collage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 3rem 2rem;
    max-width: 1200px;
    margin: 0 auto;
  }

  .om_boks1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }

  .om_boks2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .om_boks1,
  .om_boks2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100%;
  }
  .om_boks1 h3,
  .om_boks2 h4 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .om_boks1 p,
  .om_boks2 p {
    font-size: 1.5rem;
    max-width: 42ch;
  }

  .om_1_1,
  .om_gadebillede,
  .om_kopperbillede {
    display: contents;
  }

  .om_gadebillede {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }

  .om_kopperbillede {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  .om_1_1 img {
    height: 50vh;
    object-fit: cover;
    border-radius: 40px;
  }

  .om_boks2 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }

  .om_video {
    margin: 4rem;
    height: 70vh;
  }
  .om_videotekst {
    padding: 3rem;
    padding-top: 22rem;
    max-width: 800px;
  }
  .om_videotekst p {
    font-size: 36px;
  }
}
