.om_side h2,
h3,
h4,
h5 {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 18px;
}
.om_side p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 16px;
}

.om_hero {
  position: relative;
  margin: 1rem;
  height: 40vh;
  border-radius: 40px;
  overflow: hidden;
  object-fit: cover;
}
.om_herotekst {
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  z-index: 2;
  max-width: 70%;
}
.om_herotekst h1 {
  font-size: 28px;
}
.om_herotekst p {
  font-family: var(--font-main);
  font-weight: 400;
  font-size: 26px;
}

.om_om p {
  margin: 4rem;
  line-height: 126%;
}

.om_video {
  position: relative;
  margin: 1rem;
  height: 30vh;
  border-radius: 40px;
  overflow: hidden;
}

.om_video video {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.om_videotekst {
  position: relative;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  padding-top: 10rem;
}
.om_videotekst p {
  font-family: var(--font-main);
  font-weight: 800;
  font-size: 18px;
}

@media (min-width: 1024px) {
  .om_hero {
    margin: 2rem;
    height: 70vh;
  }
  .om_herotekst {
    top: 3rem;
    left: 3rem;
    max-width: 40%;
  }

  .om_herotekst h1 {
    font-size: 48px;
  }
  .om_herotekst p {
    font-size: 48px;
  }

  .om_video {
    margin: 4rem;
    height: 70vh;
  }
  .om_videotekst {
    padding: 3rem;
    padding-top: 25rem;
    max-width: 800px;
  }
  .om_videotekst p {
    font-size: 36px;
  }
}
