.intro {
  font-family: var(--font-main);
  margin-top: 2rem;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  line-height: 27px;
}

.overskrift {
  font-weight: var(--font-extrabold);
  font-size: 20px; /*********** HUSK AT ÆNDRE ****************/
}

h4 {
  margin-bottom: 1rem;
  text-align: center; /*centrere*/
}

/*kortet grid*/
.card-list {
  display: grid;
  font-family: var(--font-main);
  grid-template-columns: repeat(2, 1fr); /* 2 kort på mobil */
  gap: 20px;
  padding: 0 16px;
}

/* Selve kortet */
.card {
  background-color: var(--lysgrå);
  width: 100%;
  border-radius: 35px; /* Store runde hjørner */
  padding: 20px;
  position: relative; /* Gør det muligt at overlappe billedet */
  overflow: visible; /* Billedet må stikke ud af boksen */
}

/* Nederste kort */
.card1 {
  background-color: var(--lysgrå);
  width: 100%;
  border-radius: 35px; /* Store runde hjørner */
  padding: 20px;
  position: relative; /* Gør det muligt at overlappe billedet */
  overflow: visible; /* Billedet må stikke ud af boksen */
  grid-column: 1 / -1; /* Lader kortet ligge på sin egen række ved at bruge hele grid-bredden */
  justify-self: center; /* Centrerer kortet horisontalt inden for grid-rækken */
  max-width: 420px; /* Begrænser bredden*/
}

.card1 img {
  width: 100%;
  height: 250px; /* ← gør billedet lavere = mere aflangt */
  object-fit: cover; /* beskærer billedet pænt */
  border-radius: 40px;
  display: block;
  /* Løfter billedet op over boksen */
  margin: -10px auto 0; /* -10px rykker billedet op og ned, auto 0 centrerer det */
  margin-bottom: 1.5rem;
}

/* Billedet */
.card img {
  width: 100%;
  height: 250px;
  object-fit: cover; /* beskærer billedet pænt */
  border-radius: 40px;
  display: block;
  /* Løfter billedet op over boksen */
  margin: -10px auto 0; /* -10px rykker billedet op og ned, auto 0 centrerer det */
  margin-bottom: 1.5rem;
}

/* Tekst under billedet */
.card p {
  margin: 10px 0;
  font-size: 0.8rem;
}

/* Tekst under nederste billedet */
.card1 p {
  margin: 10px 0;
  font-size: 0.8rem;
}

/* point fed*/
.points {
  font-weight: bold;
}

/**************** DESKTOP *****************/
@media (min-width: 900px) {
  .card-list {
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
  }

  .card img {
    height: 300px;
  }

  .card1 img {
    height: 300px;
  }

  /* Nulstil mobil-reglen for det nederste kort på desktop */
  .card1 {
    grid-column: auto; /* Kortet følger grid’et normalt igen */
    justify-self: stretch; /* Fylder sin kolonne */
    max-width: none; /* Ingen max-bredde */
  }
}
